.organization {
}

.planguage {
  font-size: .85em;
  background-color: green;
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2em;
  margin-left: 10px;
}

.ptype {
  font-size: .85em;
  background-color: orange;
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2em;
  margin-left: 10px;
}

.center-text {
  text-align: center;
}

.link-font {
  font-size: 6px;
}

